html {
    font: #{$font-size-desktop}/1.5 'Montserrat', sans-serif !important;
    color: $color-base-font-blue !important;
}


.site-header {

    &.active {

        .site-logo {
            font-size: 0.8em;
        }
    }
}

.site-main {

}


.site-footer {

    .wrapper {

        .widget-about,
        .widget-sitemap,
        .widget-contacts {
            flex: 0 0 24em;

            .widget-wrapper {
                width: 80%;
                margin: 0 auto;
            }
        }

        .widget-about {

            .widget-wrapper {
                margin: 0 auto 0 0;
            }
        }
    }

}