// wp-adminbar position fix
body.admin-bar #wpadminbar {
    display: block;
    top: calc(100vh - 32px);
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.site-header,
.site-main,
.site-footer {

    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }
}

.site-header {
    padding: 1em 0;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: none;
    transition: all 0.3s ease-in;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        content: '';
        height: 3px;
        background: #2BAAC3;
        background: linear-gradient(90deg, #2BAAC3 0%, #fff 50%, #2BAAC3 100%);

    }

    &.active {
        padding: 0.35em 0;
        box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.4);

        &:after {
            display: none;
        }

        .site-nav {
            .icon-wrapper {
                width: 3.3em;
                height: 3.1em;
                top: 0.3em;
            }
        }
    }

    .site-logo {
        display: flex;
        font-size: 1em;
        transition: all 0.3s ease-in;

        i {
            font-size: 2.8em;
            margin-right: 0.25em;
            padding-left: 2px;
            background: -webkit-gradient(linear, left top, left bottom, from(#2BAAC3), to($color-base-font-blue));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 2em;
        }
    }

    .site-search {
        display: none;
    }

    .site-nav {

        .menu-main-container {
            display: none;

            ul {
                padding: 0;
                text-align: center;
                margin: 0 auto;
                width: 15em;

                li {
                    list-style: none;
                    font-size: 1.6em;
                    padding: 0.5em;

                    a {
                        color: $color-base-font-blue;
                    }

                    &:hover a {
                        color: $color-theme-blue;
                    }
                }
            }
        }

        .icon-wrapper {
            position: absolute;
            top: 0.75em;
            right: 2em;
            width: 3.5em;
            height: 3.3em;
            background: $color-base-font-blue;
            cursor: pointer;
            border: 0.4em solid transparent;
            border-radius: 1em;
            margin: 0 auto 0.3em;
            z-index: 10;
            transition: all 0.3s ease-in;

            &.active:after {
                animation: 0.8s ease-in forwards fadeIn;
                opacity: 0;
                pointer-events: none;
                content: "";
                display: block;
                width: 2.2em;
                height: 2.2em;
                position: fixed;
                bottom: 3.8em;
                left: 50%;
                background: $pure-white;
                transform: translateX(-50%);
                clip-path: polygon(50% 50%, 0 0, 100% 0);
            }


            &.active ~ .menu-main-container {
                display: block;
                animation: fadeIn 0.4s ease-in forwards;
            }

            .menu-icon {
                background: $pure-white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 4px;
                width: 1.9em;
                border-radius: 0.2em;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                transition: 0.5s;

                &:before,
                &:after {
                    left: 0;
                    content: '';
                    background: $pure-white;
                    position: absolute;
                    height: 4px;
                    width: 1.9em;
                    border-radius: 0.2em;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    transition: 0.5s;
                }

                &:before {
                    top: -9px;
                }

                &:after {
                    top: 9px;
                }
            }

            &.active .menu-icon {
                background: rgba(0, 0, 0, 0);
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
            }

            &.active .menu-icon:before {
                top: 0;
                left: 0;
                width: 2em;
                transform: rotate(45deg);
            }

            &.active .menu-icon:after {
                top: 0;
                left: 0;
                width: 2em;
                transform: rotate(135deg);
            }

        }

    }

    .site-search {

        div {
            display: flex;
            align-items: center;
        }

        input {
            height: 30px;
            width: 10em;
            padding-left: 0.75em;
            border: 1px solid $color-theme-blue;
            border-radius: 0.5em 0 0 0.5em;
            transition: all 0.2s ease-in;

            &:hover {
                width: 13em;
            }
        }

        #searchsubmit {
            height: 30px;
            width: 30px;
            border: none;
            background: linear-gradient(160deg, rgba(43,170,195,1) 0%, rgba(44,85,113,1) 100%);
            border-radius: 0 0.5em 0.5em 0;
            margin-left: -6px;

            .fa-search {
                color: $pure-white;
            }

            &:hover {
                cursor: pointer;
                background: $color-theme-blue;
                border: 1px solid $color-theme-blue;
            }
        }
    }
}

.site-main {
    margin: 6em 0 4em;

    .site-thumbnail {

        position: relative;

        .company-slogan {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: $pure-white;
            padding: 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 3em;

            span {
                text-transform: none;
                font-weight: normal;
                text-align: center;
                font-size: 0.5em;
            }
        }

        .site-thumbnail-img-wrapper {
            z-index: 1;
            display: block;
            position: relative;
            width: 100%;
            height: calc(100vw * 0.5625);
            max-height: 50vh;
            border-radius: 0.25em;
            overflow: hidden;
            box-shadow: 0 0 1px 0 white inset, 0.1em 0.2em 0.5em 0 rgba(0, 0, 0, 0.1);

            img {
                z-index: 0;
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2em 0;

        h3 {
            width: 100%;
        }

        .content,
        .about-images {
            flex: 1 1 100%;
        }

        .about-images {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .avatar-wrapper {
                z-index: 1;
                position: relative;
                width: 30%;
                height: 12em;
                border-radius: 0.25em;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }
            }
        }
    }

    .products {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2em 0;
        background: url("../assets/img/products/section-background.jpg")
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 0.3em;
        padding: 2em 2em 3em;
        box-shadow: 0 0 1px 0 white inset, 0.1em 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(44, 85, 113, 0.4);
        }

        h3 {
            width: 100%;
            color: $pure-white;
            margin-top: 1em;
            z-index: 2;
        }

        .content {
            flex: 1 1 100%;
            color: $pure-white;
            z-index: 2;
        }

        .product-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 2em;

            .product-wrapper {
                z-index: 1;
                position: relative;
                flex: 0 0 30%;
                height: 27vw;
                border-radius: 0.4em;
                overflow: hidden;
                margin: 1em 1%;


                &:hover img {
                    width: 120%;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.2s ease-in;
                }
            }
        }
    }

    .services {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h3 {
            width: 100%;
            margin-top: 1em;
        }

        .site-card {
            display: flex;
            flex-direction: column;
            flex: 0 1 45%;
            margin-bottom: 4em;

            img {
                width: 100%;
                height: auto;
                border-radius: 0.4em;
                margin-bottom: 1em;
            };

            button {
                margin-top: auto;
                font-weight: bold;
            }
        }
    }

    .newsletter {

        h3 {
            margin: 1em 0 0.5em;
        }

        form {

            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;

            legend {
                font-size: 2em;
                margin: 1em 0;
            }

            div {
                flex: 1 1 100%;
                margin: 0.5em;

                .outdoor-inputs {
                    width: 100%;
                }

                &:last-child {
                    max-width: 100%;

                    .outdoor-btn {
                        width: 100%;
                    }
                }
            }

        }
    }
}

.site-footer {
    position: relative;
    margin-top: auto;
    display: block;
    color: $pure-white;
    padding: 1em 0 2em 0;
    background: $color-base-font-blue;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h3 {
            color: $pure-white;
            margin: 1em 0 1.5em;
            font-weight: bold;
            z-index: 2;
        }

        a {
            color: $pure-white;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                padding: 0;
            }
        }

        .widget-about,
        .widget-sitemap,
        .widget-contacts {
            flex: 0 0 100%;
            z-index: 2;
        }
    }

}

.outdoor-inputs {
    border: 1px solid $color-theme-blue;
    border-radius: 0.5em;
    height: 2.4em;
    padding-left: 0.5em;
    -moz-appearance: textfield;
}

.outdoor-btn {
    color: $pure-white;
    border-radius: 0.5em;
    padding: 0.435em 5em;
    border: none;
    background: linear-gradient(160deg, rgba(43,170,195,1) 0%, rgba(44,85,113,1) 100%);

    &:hover {
        cursor: pointer;
        background: $color-theme-blue;
    }
}

@media (max-width: 340px) {

    .site-header {
        .site-logo {

            p {
                font-size: 1.5em;
            }
        }

        .site-nav {
            .icon-wrapper {
                right: 1.2em;
                width: 3.2em;
                height: 3.2em;
            }
        }
    }
}