html {
    font: #{$font-size-tablet}/1.5 'Montserrat', sans-serif !important;
    color: $color-base-font-blue !important;
}


.site-header {

    .wrapper {

        .site-search {
            display: inline-block;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        .site-logo {
            i {
                font-size: 2.5em;
                margin-right: 0.25em;
            }
        }


        .site-nav {

            display: flex;
            justify-content: center;
            align-items: center;

            .menu-main-container {
                display: inline-block;
                margin-right: 1em;

                ul {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    align-items: center;
                    width: auto;

                    li {
                        font-size: 1.1em;
                    }
                }
            }

            .icon-wrapper {
                display: none;
            }
        }

    }
}

.site-main {

    .about {
        .content,
        .about-images {
            flex: 1 1 40%;
        }

        .about-images {
            display: flex;
            align-items: flex-start;
        }
    }


    .products {
        .product-images {

            .product-wrapper {
                flex: 0 0 14%;
                height: 12vw;
            }
        }
    }


    .newsletter {

        h3 {
            margin: 1em 0 0.5em;
        }

        form {

            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;

            legend {
                font-size: 2em;
                margin: 1em 0;
            }

            div {
                flex: 1 1 14em;
                max-width: 14em;
                margin: 0.5em;

                .outdoor-inputs {
                    width: 100%;
                }

                &:last-child {
                    max-width: 100%;

                    .outdoor-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .site-header {
        .wrapper {
            .site-search {
                display: none;
            }
        }
    }
}
